/* header */

@media(max-width: 767px) {
  .breadcrumb-header ol.breadcrumb{
    font-size: 12px;
    padding: 10px 5px;
    float: left;
  }
}

/* box menu */
.box-menu .count{
  position: relative;
}

.box-menu .count .badge{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fec430;
  color: #000;
  border-radius: 3px;
}

.box-menu .count .info-icon{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
}


ol,ul{
  -webkit-padding-start: 0px !important;
}




/* message */

.chat-container .chat-list .message-elem.get{
  animation: get ease-in-out 200ms forwards;
  position: relative;
  left: -100%;
}

@keyframes get {
  0%{ left: -100%; }
  100%{ left: 0; }
}


.message-elem .message-elem-container .message-elem-content{
  display: inline-block;
  width: calc(100% - 60px);
}

.message-elem .message-elem-container .message-elem-avatar{
  width: 50px;
  display: inline-block;
}

.message-area iframe{
  border: 1px solid #ddd;
}

.message-area button.send-message-submit,
.message-area button.send-message-image{
  top: 0;
  left: 0;
  padding: 15px 10px;
  width: 45px;
  background: #fff;
  border: 1px solid #ddd;
  z-index: 999;
  outline: none;
  position: fixed;
  bottom: 0;
  top: auto;
  z-index: 99999;
}

.message-area button.send-message-submit{
  right: 0;
  left: auto;
}

.message-area .send-message-input{
  border-radius: 3px;
  box-shadow: none;
  padding: 22px 48px;
  border: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 22px 55px;
  z-index: 9999;
}

.message-area .send-message-input:focus{
  border-color: #66afe9;
}

.message-area input:focus ~ button{
  border-color: #66afe9 !important;
}

.mce-stack-layout-item.mce-statusbar{
  border: 0 !important;
}

.mce-stack-layout-item.mce-statusbar .mce-flow-layout {
  display: none;
}

.chat-container:after{
  position: absolute !important;
}

.chat-container .chat-list{
  height: calc(100vh - 350px);
}





@media(max-width: 767px) {
  .chat-container .chat-list{
    height: calc(100vh - 50px);
    margin: 0 -15px;
  }

  .message-elem .well{
    padding: 5px 10px;
  }

  .message-elem .text-muted span{
    display: none;
  }

  .message-elem .text-muted span.username{
    display: inline-block;
  }

  .message-elem .text-muted span.date{
    display: inline-block;
    float: right;
  }
}
