/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Bootstrap Hacking
 *    2.1 - Fontawesome
 *    2.2 - Buttons
 *    2.3 - Panels
 * 3.0 - Header
 *    3.1 -
 *    3.2 - Dropdown Message List
 * 4.0 - Global
 * 5.0 -
 * 6.0 -
 *   6.1 -
 *   6.2 -
 * 7.0 -
 *    7.1 -
 * 8.0 -
 * 9.0 -
 * 10.0 - Sidebar
 *    10.1 - Sidebar Menu
 *    10.2 -
 *    10.3 -
 * 11.0 - Message
 *  11.1 - MessageBox
 *  11.2 - Chat
 * 12.0 -
 *    12.1 -
 *    12.2 -
 *    12.3 -
 * 13.0 -
 * 14.0 -
 *    14.1 -
 *    14.2 -
 * 15.0 -
 * 16.0 - Footer
 *    16.1 -
 *    16.2 -
 *    16.3 -
 *    16.4 -
 *    16.5 -
 *    16.6 -
 *    16.7 -
 * 17.0 - Helper
 *    17.1 Switch
 */






/**
 * 1.0 Reset
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');


html {
  overflow-x: hidden;
}

body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.container {
  width: 1200px;
}

.container.wp {
  position: relative;
}

.ff-1 {
  font-family: 'Roboto', sans-serif;
}

.ff-2 {
  font-family: 'Lato', sans-serif;
}




@media (max-width: 768px) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}


main {
  padding: 20px;
}

a {
  color:#4c4c4c;
}
a:hover {
  color:#000;
}









/**
 * 2.0 Bootstrap Hacking
 */
label {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 2px;
  color:#505050;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #cecece;
}
.form-control {
  border-radius: 3px !important;
  background: #fefefe;
  color: #626262;
  border: 1px solid #aaaaaa;
  box-shadow: none;
}
.alert {
  padding: 8px;
  border-radius: 2px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #a3d48e;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #d59595;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #85c5e5;
}
.alert-warning {
  color: #333;
  background-color: #f9edbe;
  border-color: #f0c36d;
}
.alert-dismissable .close, .alert-dismissible .close {
  right: 5px;
}
input.error,
input.error:focus,
select.error,
select.error:focus,
textarea.error,
textarea.error:focus {
  background-color:#f9e6e6;
}
label.error {
  font-family: 'Open Sans', sans-serif;
  color:#F00;
  margin:-10px 0 0 10px;
  padding:0px;
  z-index:999;
  font-size:11px;
  font-weight:400;
}
@media (max-width: 768px) {
  .form-control {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px !important;
    background: #fefefe;
    color: #626262;
    border: 1px solid #aaaaaa;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: inherit;
    -webkit-transition: inherit;
  }

}





/* table */
table thead {
  font-size: 13px;
  background-color: #f1f1f1;
}
table tbody tr td {
  font-size: 12px;
}
table thead tr th a.orderby.text-muted {
  color:#cecece;
}



/* bg-color */
.bg-muted {
  background-color: #ddd;
}
.bg-primary {
  background-color: #4285f4;
  color:#FFF;
}
.bg-success {
  background-color: #34a853;
  color:#FFF;
}
.bg-danger {
  background-color: #ea4335;
  color:#FFF;
}
.bg-warning {
  background-color: #fbbc05;
  color:#333;
}
.bg-info {
  background-color: #42b0db;
  color:#333;
}


/* hr */
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}
.hr-line-solid {
    border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid !important;
    margin-top: 15px;
    margin-bottom: 15px;
}
.hr-line-groove {
    border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
    border-style: groove !important;
    margin-top: 15px;
    margin-bottom: 15px;
}




/* dropdown-menu */
.dropdown-menu li>a {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #5f5f5f;
  white-space: nowrap;
  font-size: 12px;
}
.dropdown-menu li>a:hover {
  color:#000;
}
.dropdown-menu .divider {
  margin: 4px 0;
}

/* dropdown animation */
.dropdown .dropdown-menu.effect-1 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}
.dropdown.open .dropdown-menu {
    max-height: 500px;
    opacity: 1;
}



/* bootstrap */
.tab-content {
  padding: 25px 0;
}
.nav-tabs>li>a {
  font-size: 13px;
}
.nav-tabs>li>a>i.fa {
  color:#777;
  width: 16px;
  margin-bottom: 3px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: none;
  border-color:transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom:2px solid #fdc430;
    font-weight:600;
}
@media (max-width: 768px) {
  .nav-tabs>li>a {
    padding: 5px 10px;
  }
}




/* .select */
.select.input-sm .btn {
  padding: 5px 12px;
  font-size: 13px;
}
.bootstrap-select {
  width: 100% !important;
  border: 1px solid #aaaaaa;
}
.bootstrap-select .btn {
  border: 1px solid #aaaaaa;
  border-radius: 3px;
}




/** .bootstrap-switch **/
.bootstrap-switch {
  border-radius: 1px;
  border: 1px solid #a7a7a7;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-radius: 0px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-radius: 0px;
}
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
  border-radius: 0px;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #0e0e0e;
    background: #fdc431;
}
.bootstrap-switch-extramini {

}
.bootstrap-switch.bootstrap-switch-extramini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-extramini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-extramini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1;
}




/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}
/* bootstrap hack end */



/* .label-text */
.label {
  display: inline;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
}



/* 2.1 */
/* font-awesome */
.fa {}
.fa-til {
  position: relative;
}
.fa-til .fa.fa-on {
  position: absolute;
  font-size: 150%;
    top: -1px;
    left: -2.3px;
}
.fa-til .fa.fa-sub {
}

.fa-til .fa.fa-left-top {
  position: absolute;
  left: -4px;
  top: -3px;
  font-size: 75%;
}


/* 2.2 */
/* buttons */
.btn {
  border-radius: 1px;
}
.btn.btn-flat {
  border-radius: 0px;
}
.btn.btn-rounded {
  border-radius: 100px;
}

.btn.btn-outline {
  background-color: transparent;
  color: #333;
}
.btn.btn-default.btn-outline:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn.btn-primary.btn-outline:hover {
  background-color: #286090;
  border-color: #204d74;
  color:#fff;
}
.btn.btn-success.btn-outline:hover {
  background-color: #449d44;
  border-color: #398439;
  color:#fff;
}
.btn.btn-warning.btn-outline:hover {
  background-color: #ec971f;
  border-color: #d58512;
}
.btn.btn-danger.btn-outline:hover {
  background-color: #c9302c;
  border-color: #ac2925;
  color:#fff;
}
.btn.btn-info.btn-outline:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn i.fa.fa-btn {
  width: 20px;
  height: 14px;
  margin-left: -5px;
}
.btn.btn-icon {
  position: relative;
  padding-left: 40px;
}
.btn.btn-icon i.fa {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  text-align: center;
  width: 30px;
  height: 100%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  padding-top: 9px;
}
.btn.btn-xs.btn-icon i.fa {
  padding-top: 4px;
}
.btn.btn-sm.btn-icon i.fa {
  padding-top: 8px;
}
.btn.btn-lg.btn-icon i.fa {
  padding-top: 14px;
}



/* 2.3 */
/* bootstrap panel */
.panel .panel-heading .panel-title {
  font-weight: 500;
}
.panel .panel-heading {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  color:#333 !important;
  border-bottom: 1px solid transparent;
}
.panel .panel-body {
  background-color: #FFF;
}
.panel.panel-full-bg .panel-body {
  background-color: transparent !important;
}

.panel-border-0 {
  border:0px;
}
.panel.panel-heading-0 .panel-heading {
  background-color: #FFF;
  border-bottom: 1px solid #FFF;
}
.panel.panel-heading-0.panel-full-bg .panel-heading {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
.panel .panel-heading .panel-description {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  opacity: 0.7;
}


.panel.panel-default {
  border-color:#ddd;
  background-color: #FFF;
}
.panel.panel-default.panel-full-bg {
  color:#333;
}
.panel.panel-default .panel-heading {
  background-color: #f5f5f5;
}
.panel.panel-default.panel-full-bg.panel-heading-0 .panel-heading {
  background-color: transparent !important;
}
.panel.panel-default.panel-heading-0 .panel-heading {
  background-color: #FFF;
  border-bottom: 1px solid #FFF;
}

.panel.panel-primary {
  border-color:#357ca5;
  background-color: #357ca5;
}
.panel.panel-primary.panel-full-bg {
  color:#fbfbfb;
}
.panel.panel-success {
  border-color:#008d4c;
  background-color: #008d4c;
}
.panel.panel-success.panel-full-bg {
  color:#fbfbfb;
}
.panel.panel-danger {
  border-color: #d33724;
  background-color: #d33724;
}
.panel.panel-danger.panel-full-bg {
  color:#fbfbfb;
}
.panel.panel-warning {
  border-color: #db8b0b;
  background-color: #db8b0b;
}
.panel.panel-warning.panel-full-bg {
  color:#333;
}
.panel.panel-info {
  border-color:#00a7d0;
  background-color: #00a7d0;
}
.panel.panel-info.panel-full-bg {
  color:#333;
}
.panel.panel-purble {
  border-color: #555299;
  background-color: #555299;
}
.panel.panel-purble.panel-full-bg {
  color:#fbfbfb;
}
.panel.panel-pink {
  border-color: #ff9bc0;
  background-color: #ff9bc0;
}
.panel.panel-pink.panel-full-bg {
  color:#333;
}
.panel.panel-dark {
  border-color: #111;
  background-color: #656565;
}
.panel.panel-dark.panel-full-bg {
  color:#fbfbfb;
}
.panel.panel-dark .panel-heading {
  color:#FFF;
}





.panel.panel-heading-0.panel-border-top {
  border:0px;
  border-top:3px solid transparent;
}
.panel.panel-heading-0.panel-border-right {
  border:0px;
  border-right:3px solid transparent;
}
.panel.panel-heading-0.panel-border-bottom {
  border:0px;
  border-bottom:3px solid transparent;
}
.panel.panel-heading-0.panel-border-left {
  border:0px;
  border-left:3px solid transparent;
}




.panel .panel-heading .panel-menu {
  position: absolute;
  top: 7px;
    right: 5px;
}
.panel .panel-heading .panel-menu .btn-group .btn {
  text-align: center;
}





/* quill js rich text */
.ql-editor {
  background-color: #FFF;
}




/* dataTable */
table.dataTable {
  background-color: #FFF;
}
table.dataTable tbody tr td {
  vertical-align:middle;
}

table.dataTable thead .sorting:after {
  font-family: FontAwesome;
  content: "\f175";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
}
table.dataTable thead .sorting_asc:after {
  font-family: FontAwesome;
  content: "\f175";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
}
table.dataTable thead .sorting_desc:after {
  font-family: FontAwesome;
  content: "\f176";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
}
table.dataTable thead .none {
  width: 0px;
  padding: 0px !important;
  margin: 0px !important;
}
table.dataTable thead .none.sorting:after ,table.dataTable thead .none.sorting_asc:after ,table.dataTable thead .none.sorting_desc:after {
  font-family: FontAwesome;
  content: "" !important;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}
table.dataTable tbody .none {
  width: 0px;
  padding: 0px !important;
  margin: 0px !important;
}
table.dataTable thead.none {
  display: none;
}

@media (max-width: 768px) {
  table {
    width: 100% !important;
  }
  /* dataTable search input */
  div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    text-align: left;
  }
  div.dataTables_wrapper div.dataTables_filter label {
      font-weight: normal;
      white-space: nowrap;
      text-align: left;
      width: 95%;
  }
  div.dataTables_wrapper div.dataTables_filter input {
      margin-left: 0.5em;
      display: inline-block;
      width: 100%;
  }
}






@media (max-width: 768px) and (orientation: portrait) {
    .hidden-xs-portrait { display: none!important; }
    .visible-xs-portrait { display: block!important; }
    td.visible-xs-portrait, th.visible-xs-portrait {  display: table-cell!important; }
}
@media (max-width: 768px)) and (orientation: landscape) {
    .hidden-xs-landscape { display: none!important; }
    .visible-xs-landscape { display: block!important; }
    td.visible-xs-landscape, th.visible-xs-landscape {  display: table-cell!important; }
}







.panel.panel-dataTable .dataTables_filter {
  margin-top: 10px;
  margin-right: 10px;
}



/* table-excel */
.table-excel {
  background-color: #FFF;
  border:1px solid #bbbbbb;
}
.table-excel thead tr th {
  background-color: #d4d2cc;
  color:#040204;
  font-weight: normal;
  border-color:#848284;
  font-size: 13px;
  border-right: 1px solid #848284 !important;
  border-bottom:1px solid #848284 !important;
}
.table-excel thead tr th:last-child {
  border-right: 0px !important;
}
.table-excel tbody tr td {
  border-color:#c4c2c4;
}




/**
 * 3.0 Header
 */
header .navbar-default {
  background-color: #ffffff;
  border-color: #e6e6e6;
  margin-bottom: 0;
}
header .navbar-brand {
  width: 213px;
  padding: 5px;
}
header .navbar-brand img {
  width: 170px;
}
/* profile-avatar */
header a.profile-avatar {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 46px;
  margin-left: 20px;
  position: relative;
}
header .navbar-nav>.open> a.profile-avatar, .navbar-nav>.open> a.profile-avatar:focus {
  background-color: #FFF;
  border-bottom:1px solid #fec430;
  text-decoration: none;
}
header a.profile-avatar img.img-avatar {
  width: 36px;
  border-radius: 3px;
  float: right;
  margin-left: 10px;
  border:1px solid #ccc;
  padding: 1px;
}
header a.profile-avatar span.user-name {
  display: inline-block;
  float: left;
  color:#000;
  margin-top: 5px;
}
header a.profile-avatar span.user-name span.user-role {
  display: block;
  color:#888;
  font-size: 11px;
  margin-top: -8px;
}
/* icon-badge */
header li.icon-badge {}
header li.icon-badge a {
  display: block;
  position: relative;
  border:1px solid #fff;
}
header li.icon-badge a:hover {
  border-bottom:1px solid #fec430;
}
header li.icon-badge a i.fa {
  font-size: 18px;
}
header li.icon-badge a span.badge {
  position: absolute;
  top: 5px;
  right: 3px;
  font-size: 10px;
  text-align: center;
  width: 18px;
  height: 16px;
  padding: 0px;
  padding-top: 4px;
  background-color: #fec430;
  color: #000;
  border-radius: 2px;
}


/* dropdown */
header .dropdown-menu>li>a {
  color:#5f5f5f;
}
header .dropdown-menu>li>a i.fa {
  width: 20px;
}

/* dropdown message list */
header .dropdown-message-list li a {
  font-size: 14px;
}


@media (max-width: 768px) {
  .navbar-toggle {
    margin-right: 13px;
    border-radius: 0px;
  }
}




/* breadcrumb */
.breadcrumb-header {
  position: relative;
  margin-top: -20px;
  margin-bottom: 20px;
  clear: both;
  border-bottom: 1px solid #dedede;
}
.breadcrumb-header ol.breadcrumb {
  background-color: transparent;
  margin-bottom: 0px;
  float: right;
}
@media (max-width: 768px) {
  .breadcrumb-header {
    margin-top: -15px;
    text-align: center;
  }
  .breadcrumb-header h3.page-title {
    font-size: 16px;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
}

/* 3.2 Dropdown Message List */
.dropdown-message-list {
  width: 300px;
  padding: 0px;
}
.dropdown-message-list li {
  padding: 0px;
  margin: 0px;
}
.dropdown-message-list li a {
  margin: 0px;
}
.dropdown-message-list li.message-header {
  text-align: center;
  font-size: 13px;
  padding: 10px 0;
}
.dropdown-message-list li.message-footer {
  text-align: center;
}
.dropdown-message-list li.message-footer a {
  padding: 10px 0;
  background-color: #F5F5F7;
}
.dropdown-message-list li.message-footer a:hover {
  border-color:transparent;
}

.dropdown-message-list li.message-list {

}
.dropdown-message-list li.message-list a {
  padding: 8px 10px 8px 0px;
  border-bottom: 1px solid #ccc !important;
}
.dropdown-message-list li:nth-child(2) a {
   border-top: 1px solid #ccc !important;
}
.dropdown-message-list li.message-list:last-child a {
  border-bottom: 0px !important;
}
.dropdown-message-list li.message-list span.message-name {
  display: block;
  font-size: 13px;
  line-height: 12px;
  font-weight: bold;
}
.dropdown-message-list li.message-list span.message-time {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  color:#616060;
}
.dropdown-message-list li.message-list span.message-time i.fa {
  font-size: 11px;
  color:#616060;
  margin: 0px;
  padding: 0px;
  width: 10px;
}
.dropdown-message-list li.message-list span.message-title {
  font-size: 12px;
}
.dropdown-message-list li.message-list .message-avatar {
  text-align: center;
}
.dropdown-message-list li.message-list .message-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 2px;
}
.dropdown-message-list li.message-list.bold .message-name {
  color:#000;
}
.dropdown-message-list li.message-list.bold .message-title {
  color:#848484;
}
.dropdown-message-list li.message-list.bold .message-time {
  font-weight: bold;
  color:#000;
}














/**
 * 4.0 Global
 */

.content-title {}
.content-title i.fa {
  color:#333;
}
.content-title.content-title-line {
  border-bottom: 1px solid #ccc;
}
h3.content-title {
  font-size: 20px;
  margin: 0px;
  margin-bottom: 16px;
  padding: 0px;
  padding-bottom: 5px;
}
h3.content-title.title-line {
  border-bottom: 1px solid #e7eaec;
}
h4.content-title {
  font-size: 16px;
  padding-bottom: 5px;
}
h4.content-title.title-line {
  border-bottom: 1px solid #e7eaec;
}

h3.page-title {
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 10px 0 5px 0;
}

/* pagination */
.pagination {
  margin: 18px 0;
  border-radius: 2px;
}
.pagination > li > a,
.pagination > li > span {
  padding: 5px 12px;
  line-height: 1.4;
  color: #333;
  background-color: #f3f3f3;
  border: 1px solid #dcdcdc;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #333;
  background-color: #f5f5f5;
  border-color: #c6c6c6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.pagination > li > a:active {
  background-color: #f4f4f4;
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #f1f1f1 100%);
  background-image:      -o-linear-gradient(top, #f6f6f6 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
  background-image:         linear-gradient(to bottom, #f6f6f6 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff1f1f1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #111111;
  background-color: #f5f5f5;
  border-color: #fdc430;

  -webkit-box-shadow: none;
          box-shadow: none;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #b3b3b3;
  text-shadow: none;
  background-color: #f3f3f3;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-image:         linear-gradient(to bottom, #f5f5f5 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #d9d9d9;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 9px 14px;
  font-size: 14px;
  line-height: 1.3;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 3px 8px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.pagination > li > a .fa {
    padding-top: 2px;
    padding-bottom: 3px;
}
.pager {
  margin: 18px 0;
}
.pager li > a,
.pager li > span {
  padding: 11px 24px;
  overflow: visible;
  font-size: 14px;
  color: #777;
  text-decoration: none;
  white-space: nowrap;
  cursor: default;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #5b5b5b;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .1);
          box-shadow: 0 2px 1px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .1);
}
.pager li > a:hover,
.pager li > a:focus {
  color: #444;
  background-color: #fff;
}
.pager li > a:active {
  color: #444;
  background-color: #fff;
}
.pager li .icon-prev {
  position: relative;
  display: inline-block;
  padding-right: 8px;
}
.pager li .icon-prev:before {
  border-radius: 5px;
}
.pager li .icon-prev:before,
.pager li .icon-prev:after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
}
.pager li .icon-prev:before {
  border: 7px solid transparent;
}
.pager li .icon-prev:after {
  border: 4px solid transparent;
}
.pager li .icon-prev:before,
.pager li .icon-prev:after {
  top: -5px;
  right: 100%;
}
.pager li .icon-prev:before {
  margin-top: -7px;
  border-right: 7px solid;
  border-right-color: inherit;
}
.pager li .icon-prev:after {
  margin-top: -4px;
  border-right: 4px solid #fff;
}
.pager li .icon-next {
  position: relative;
  display: inline-block;
  padding-left: 8px;
}
.pager li .icon-next:before {
  border-radius: 5px;
}
.pager li .icon-next:before,
.pager li .icon-next:after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
}
.pager li .icon-next:before {
  border: 7px solid transparent;
}
.pager li .icon-next:after {
  border: 4px solid transparent;
}
.pager li .icon-next:before,
.pager li .icon-next:after {
  top: -5px;
  left: 100%;
}
.pager li .icon-next:before {
  margin-top: -7px;
  border-left: 7px solid;
  border-left-color: inherit;
}
.pager li .icon-next:after {
  margin-top: -4px;
  border-left: 4px solid #fff;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #b3b3b3;
  background-color: #fafafa;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-color: #d9d9d9;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.pager .disabled .icon-prev {
  position: relative;
  display: inline-block;
  padding-right: 8px;
}
.pager .disabled .icon-prev:before {
  border-radius: 5px;
}
.pager .disabled .icon-prev:before,
.pager .disabled .icon-prev:after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
}
.pager .disabled .icon-prev:before {
  border: 7px solid transparent;
}
.pager .disabled .icon-prev:after {
  border: 4px solid transparent;
}
.pager .disabled .icon-prev:before,
.pager .disabled .icon-prev:after {
  top: -5px;
  right: 100%;
}
.pager .disabled .icon-prev:before {
  margin-top: -7px;
  border-right: 7px solid;
  border-right-color: #b3b3b3;
}
.pager .disabled .icon-prev:after {
  margin-top: -4px;
  border-right: 4px solid #fafafa;
}
.pager .disabled .icon-next {
  position: relative;
  display: inline-block;
  padding-left: 8px;
}
.pager .disabled .icon-next:before {
  border-radius: 5px;
}
.pager .disabled .icon-next:before,
.pager .disabled .icon-next:after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
}
.pager .disabled .icon-next:before {
  border: 7px solid transparent;
}
.pager .disabled .icon-next:after {
  border: 4px solid transparent;
}
.pager .disabled .icon-next:before,
.pager .disabled .icon-next:after {
  top: -5px;
  left: 100%;
}
.pager .disabled .icon-next:before {
  margin-top: -7px;
  border-left: 7px solid;
  border-left-color: #b3b3b3;
}
.pager .disabled .icon-next:after {
  margin-top: -4px;
  border-left: 4px solid #fafafa;
}


/* panel */
.panel.panel-table .panel-title {
  margin-top: 5px;
}
.panel.panel-table .btn-group.btn-icon .btn-default {
  padding: 3px 4px 2px 4px;
  width: 26px;
  background-color: transparent;
  border-color:transparent;
}
.panel.panel-table .btn-group.btn-icon .btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.panel.panel-table .btn-group.btn-icon .btn i.fa {
  font-size: 16px;
}
.panel.panel-table .not-found {
  margin: 20px !important;
}
/* panel-search */
form.panel-search {
  width: 300px;
  float: left;
  margin-right: 10px;
}
form.panel-search .input-group .form-control {
  height: 26px;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 0px!important;
  border: 1px solid #ccc;
}
form.panel-search .input-group .input-group-btn .btn {
  height: 26px;
  padding: 0px 5px;
  margin-right: -2px;
  z-index: 9;
  font-size: 12px;
  color: #848484;
}
form.panel-search .input-group .input-group-btn .btn i.fa {
  font-size: 12px;
  top: -3px !important;
}
@media (max-width: 768px) {
  form.panel-search {
    float: none;
    width: 100%;
  }
  form.panel-search .input-group .form-control {
    height: 32px;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 0px!important;
    border: 1px solid #ccc;
  }
    form.panel-search .input-group .input-group-btn .btn {
    height: 32px;
    padding: 0 10px;
    margin-right: -2px;
    z-index: 9;
    font-size: 12px;
    color: #848484;
  }
}



/* panel-sidebar */
.panel.panel-sidebar {
  margin-left: -20px;
  border-left: 0px;
  border-radius: 0px;
  height: 90vh;
}



/* box-menu */
.box-menu {
  border-radius: 1px;
  text-align: center;
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.box-menu a {
  display: block;
  vertical-align: middle;
  width: 100%;

}
.box-menu a:hover, .box-menu a:focus, .box-menu a:active {
  text-decoration: none;
}
.box-menu a span.icon-box {
  padding-top: 10px;
  display: block;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: -1px;
  margin-bottom: 5px;
  font-weight: 400;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #d2d2d2;
  color: #6a6a6a;
}
.box-menu h3 {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin: 10 0;
  padding: 0;
  color:#4e4e4e;
}
.box-menu:hover > a span.icon-box, .box-menu:focus > a span.icon-box, .box-menu:active > a span.icon-box {
  background-color: #f1f1f1;
}
.box-menu:hover > a h3 {
  color: #000;
}
.box-menu .icon-box {
  font-size: 28px;
}
.box-menu.right {
  text-align: right;
}
@media (max-width: 768px) {
  .row.box-row .til-col:after {  }
  .row.box-row .til-col:nth-child(3n):after { display: block; content: "\00a0"; clear: both; }
  .box-menu {
    padding: 0px;
    height: auto;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: none;
  }
  .box-menu a span.icon-box {
    padding-top: 10px;
    display: block;
    font-size: 36px;
    line-height: 24px;
    letter-spacing: -1px;
    margin-bottom: 5px;
    font-weight: 400;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #d2d2d2;
    color: #6a6a6a;
  }
}




/* tinymce */

#tinymce{
  background: #fff;
  padding: 10px;
}

.mce-tinymce,
.mce-toolbar-grp,
.mce-btn{
  background: #fff !important;
}

.mce-primary{
  background: #337ab7 !important;
  border-color: #2e6da4 !important;
}

.mce-menu-item .mce-text:hover{
  color: #fff !important;
}

[aria-label="Preview"].mce-window{
  width: 1070px !important;
  height: calc(100% - 100px) !important;
  left: 50% !important;
  margin-left: -535px;
  top: 50px !important;
}

[aria-label="Preview"].mce-window .mce-window-head{
  background: #ddd;
}

[aria-label="Preview"].mce-window .mce-container-body {
  height: calc(100vh - 40px) !important;
}

@media(max-width: 767px) {
  [aria-label="Preview"].mce-window{
    width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
  }
}

[aria-label="HTML source code"].mce-window{
  background-image: url('../images/back.png') !important;
  background: #384047;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 999999 !important;
}

[aria-label="HTML source code"].mce-window .mce-container-body,
[aria-label="HTML source code"].mce-window .mce-textbox{
  height: calc(100vh - 50px) !important;
}

[aria-label="HTML source code"].mce-window .mce-foot {
  position: absolute;
  top: calc(100vh - 50px) !important;
}

.mce-ico{
  font-family: 'tinymce',Arial !important;
}







/**
 * 10.0 Sidebar
 */

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: red;
  position: absolute;
  bottom: 0;
  top: 54px;
  left: 0;
  display: block;
  float: left;
  background-color: #f5f5f5;
  border-right: 1px solid #e3e3e3;
}

.sidebar-title {
  padding: 20px 20px 0;
  color: #b0b0b0;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  margin: 0;
}

/* 10.1 Sidebar Menu */
ul.sidebar-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.sidebar-menu li {
  position: relative;
}
ul.sidebar-menu li a {
  display: block;
  padding: 0 20px;
  color: #4c4c4c;
  font-size: 14px;
  line-height: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
ul.sidebar-menu li a:hover,ul.sidebar-menu li a:focus {
  background-color: #f0f0f0;
  text-decoration: none;
}
ul.sidebar-menu li>a>i.fa {
  line-height: 18px;
  font-size: 16px;
  min-width: 19px;
  margin-right: 9px;
  text-align: center;
  vertical-align: middle;
}
ul.sidebar-menu li a span.caret-opt {
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 10px;
  color:#c5c5c5;
}
/* sidebar-menu > submenu */
ul.sidebar-menu li ul.submenu {
  margin: 0;
  padding: 0;
  background-color: #eee;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
ul.sidebar-menu li ul.submenu li a {
  font-size: 13px;
  color:#444443;
  padding: 0;
  font-weight: 400;
  padding-left: 54px;
  line-height: 32px;
}
ul.sidebar-menu li ul.submenu li a:hover, ul.sidebar-menu li ul.submenu li.active a{
  background-color: #e7e7e7;
}

ul.sidebar-menu li.active ul.submenu {
  height: auto;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;

}
ul.sidebar-menu li ul li a i.fa {
  margin-right: 0px;
  width: 14px;
  font-size: 12px;
  color:#909090;
}
@media (max-width: 768px) {
  main {
    padding: 10px;
    margin: 0px !important;
  }
  .sidebar {
    display: none;
  }
}



/**
 * 11.0 Message
 */
/* 11.1 Messagebox */
.list-group-messagebox {

}
.list-group-messagebox li, .list-group-messagebox a {
  border:0px;
}
.list-group-messagebox a {
  border-radius: 3px;
  margin-bottom: 2px;
  padding: 8px 10px 5px 10px;
}
.list-group-messagebox a.active, .list-group-messagebox a.active:hover {
  color: #0e0e0e;
  background-color: #fdc430;
}
.list-group-messagebox a .badge {
  border-radius: 3px;
  font-weight: normal;
}
.list-group-messagebox a.active .badge {
  color: #ffffff;
  background-color: #654b08;
}
.list-group-messagebox a.list-group-item-sub {
  margin-left:20px;
}
.list-group-messagebox a.list-group-item-sub.active, .list-group-messagebox a.list-group-item-sub.active:hover {
  background-color: transparent;
  font-weight: bold;
}

/* liveData */
.liveData .dropdown-menu {
  border-radius: 0px;
  width: 100%;
}
.liveData a.item {
  word-wrap: break-word;
  white-space: pre-line;
  outline: none !important;
}




/* 11.2 - Chat */
.chat-container .chat-list{
  overflow-x: hidden;
  position: relative;
  height: calc(100vh - 460px);
}

.chat-container{
  position: relative;
}

.chat-container.loader:before{
  content: "\f110";
  position: absolute;
  width: auto;
  height: auto;
  top: 10px;
  left: 50%;
  margin-left: -50px;
  text-align: center;
  z-index: 9999;
  font: normal normal normal 40px/1 FontAwesome;
  animation: 500ms rotate ease-in-out infinite;
}

.chat-container.loader:after{
  content: '';
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

@keyframes rotate{
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}

.message-area .mce-toolbar-grp {
  border-bottom: 0;
}

.message-area iframe{
  border: 1px solid #ddd;
  border-bottom: 0;
}

div.mce-edit-area,
.mce-tinymce{
  border: 0 !important;
}
}

div.mce-edit-area,
.mce-tinymce{
  border: 0 !important;
}

.chat-container .chat-list .message-elem{
  transition: all 200ms ease;
  border: 2px solid transparent;
}

.chat-container .chat-list .message-elem.send{
  animation: send ease-in-out 200ms forwards;
  position: relative;
  right: -100%;
}

@keyframes send {
  0%{ right: -100%; }
  100%{ right: 0; }
}


.chat-container .chat-list .message-elem.new{
  animation: new ease-in-out 200ms forwards;
  position: relative;
  left: -100%;
  border-top: 2px solid #34a853;
}

@keyframes new {
  0%{ left: -100%; }
  100%{ left: 0; }
}









/**
 * 16.0 Footer
 */
footer {
  position: absolute;
  display: block;
  left: 0;
  right:0;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}












/**
 * 17.0 Helper
 */



/* switch */
.til-switch {
  position: relative;
  display: inline-block;
  width: auto;
  height: 20px;
  background: transparent;
}
/* xs */
.til-switch.til-switch-xs {
  height: 16px;
}
.til-switch.til-switch-xs .switch-text:before, .til-switch.til-switch-xs .switch-text:after {
  padding: 1px 5px;
  font-size: 10px;
}
/* sm */
.til-switch.til-switch-sm {
  height: 18px;
}
.til-switch.til-switch-sm .switch-text:before, .til-switch.til-switch-sm .switch-text:after {
  padding: 1px 5px;
  font-size: 11px;
}
/* md */
.til-switch.til-switch-md {
  height: 20px;
}
.til-switch.til-switch-md .switch-text:before, .til-switch.til-switch-md .switch-text:after {
  padding: 2px 10px;
  font-size: 12px;
}
/* lg */
.til-switch.til-switch-lg {
  height: 26px;
}
.til-switch.til-switch-lg .switch-text:before, .til-switch.til-switch-lg .switch-text:after {
  padding: 4px 10px;
  font-size: 13px;
}
.til-switch span {
  position:relative;
  left: calc(100% + 10px);
  top: -100%;
}
.til-switch input[type="checkbox"] {
  display: none;
}
.til-switch .switch-text{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size:12px;
  cursor: pointer;
}
.til-switch .switch-text:before,
.til-switch .switch-text:after{
  padding: 2px 10px;
  content: attr(on-text);
  position: relative;
  width: auto;
  height: 100%;
  top: 0;
  left: 100%;
  background: #fdc430;
  border: 1px solid #000;
  color: #000;
  box-sizing: border-box;
  white-space: nowrap;
  display: block;
  transition: all 200ms ease;
  text-align: center;
  vertical-align: middle;
}
.til-switch .switch-text:after{
  content: attr(off-text);
  background: #f7f7f7;
  color: #000;
  border: 1px solid #000;
  left: 0;
  top: -100%;
}
.til-switch input[type="checkbox"]:checked ~ .switch-text:before { left: 0;}
.til-switch input[type="checkbox"]:checked ~ .switch-text:after {left: 100%;}
.til-switch-label span {

}







/* DATA-WENK */
[data-wenk] {
  position: relative
}

[data-wenk]:after {
  position: absolute;
  font-size: 11px;
  border-radius: 3px;
  content: attr(data-wenk);
  padding: 3px 5px;
  background-color: rgba(17, 17, 17, .8);
  box-shadow: 0 0 14px rgba(0, 0, 0, .1);
  color: #fff;
  line-height: auto;
  text-align: left;
  z-index: 1;
  pointer-events: none;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  white-space: pre;
  width: auto;
  font-weight: normal;
}

[data-wenk]:after {
  opacity: 0
}
[data-wenk]:hover {
  overflow: visible
}

[data-wenk]:hover:after {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px)
}

/* bottom */
[data-wenk][data-wenk-pos="bottom"]:after {
  bottom: auto;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px)
}

[data-wenk][data-wenk-pos="bottom"]:hover:after {
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px)
}


/* left */
[data-wenk][data-wenk-pos="left"]:after {
  bottom: auto;
  left: auto;
  top: 50%;
  right: 100%;
  -webkit-transform: translate(10px, -50%);
  transform: translate(10px, -50%)
}
[data-wenk][data-wenk-pos="left"]:hover:after {
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%)
}


/* right */
[data-wenk][data-wenk-pos="right"]:after {
  bottom: auto;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%)
}

[data-wenk][data-wenk-pos="right"]:hover:after {
  -webkit-transform: translate(10px, -50%);
  transform: translate(10px, -50%)
}


/* size */
[data-wenk][data-wenk-length="small"]:after{white-space: normal;width: 80px}
[data-wenk][data-wenk-length="medium"]:after{white-space: normal;width: 150px }
[data-wenk][data-wenk-length="large"]:after{white-space: normal;width: 260px}
[data-wenk][data-wenk-length="fit"]:after{white-space: normal;width: 100% }
[data-wenk][data-wenk-align="right"]:after{text-align: right }
[data-wenk][data-wenk-align="center"]:after{ text-align: center }
[data-wenk=""]:after { visibility: hidden !important; }
